<h2 md-dialog-title>Edit user private data</h2>
<md-dialog-content>
  <md-input-container>
    <input mdInput placeholder="Username/Email" [(ngModel)]="editUserPrivData.usernameOrEmail" value="editUserPrivData.usernameOrEmail" required
           name="usernameOrEmail"/>
  </md-input-container>
  <br>

  <md-input-container>
    <input mdInput placeholder="Password" [(ngModel)]="editUserPrivData.password" value="editUserPrivData.password" required name="password"/>
  </md-input-container>
  <br>
  <md-input-container>
    <input mdInput placeholder="Site" [(ngModel)]="editUserPrivData.site" value="editUserPrivData.site" required name="site"/>
  </md-input-container>
  <br>
  <md-input-container>
    <textarea mdInput placeholder="Description" [(ngModel)]="editUserPrivData.description" data-value="editUserPrivData.description" name="description"></textarea>
  </md-input-container>

</md-dialog-content>
<md-dialog-actions>
  <button md-button [md-dialog-close]="editUserPrivData">Save</button>
  <button md-button md-dialog-close>Cancel</button>
</md-dialog-actions>
