.text-center{
  text-align: center;
}

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

h1 {
  color: black;
  font-family: 'Tekton Pro';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.container {
  max-width: 400px;
  padding-top: 80px;
  text-align: center;
  margin: auto;
}

.header-panel {
  background-color: black;
  width: 100%;
  height: 40px;
}

.mat-button {
  color: white;
  font-family: "Tekton Pro";
  font-size: 20px;
  margin-top: 5px;
}

.register-email-failed-popup {
  background-color: #bf4055;
  height: 50px;
  color: whitesmoke;
  margin-bottom: 30px;
  vertical-align: text-bottom;
}

.register-username-failed-popup {
  background-color: #bf4055;
  height: 50px;
  color: whitesmoke;
  margin-bottom: 30px;
}

.register-success-popup {
  background-color: #558b2f;
  height: 50px;
  color: whitesmoke;
  margin-bottom: 30px;
}

h5 {
  display: inline-block;
  vertical-align: middle;
}
